<div class="row">
  <div class="large-12 columns">
    <header role="banner">
      <h1 class="header-type logo">
        <span class="hl-a">Welcome</span><span class="hl-b">Mat</span><span class="hl-c">.co</span>
      </h1>
      <h2 class="subtitle-type">Copy &amp; Paste <strong>ASCII Art Welcome Mats</strong> for your HTML</h2>
    </header>
  </div>
</div>

<div class="features">
  <div class="row">
    <div class="small-12 large-4 columns">

      <div class="row collapse">
        <i class="small-3 large-12 columns icon-vanity"></i>
        <div class="small-9 large-12 columns">
          <h3>For Vanity!</h3>
          <p>
            Bloat your markup and confuse search engines for no good reason.
          </p>
        </div>
      </div>

    </div>
    <div class="small-12 large-4 columns">

      <div class="row collapse">
        <i class="small-3 large-12 columns icon-manners"></i>
        <div class="small-9 large-12 columns">
          <h3>For Manners!</h3>
          <p>
            Make your mother proud. We’re living in a society, people!
          </p>
        </div>
      </div>

    </div>
    <div class="small-12 large-4 columns">

      <div class="row collapse">
        <i class="small-3 large-12 columns icon-snoopers"></i>
        <div class="small-9 large-12 columns">
          <h3>For Snoopers!</h3>
          <p>
            Roll out the welcome mat for those source-code snoopers.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>