<!DOCTYPE html>

<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

<!--                      ,:                     ,  :=?+IDM8,                   
                        ,:,,                        +:ZI$$DMM,,                 
                     ,,:                           ,:II+IND8MM+,                
                   ,,~                             +~++:MO+MMMM=,               
                  ,7+,,                             ?+OM~OMMMMMM,,              
                 ,8:,,                            :~~?7ZMMMMMMMND:,             
                 ,M+:,,                            =??8$7N8$7MMMD,+,            
                 ,,=~:,,                           ??IM$OMMM=MMMMMM,,           
                ,:+::, ,,,                         ::77+O8MNM~NMMMMD,           
               ,=Z~:,  ,                    ,      :~I?8:?8O$MMZMMMMN,          
               :8M:  ,                       ,   ,,,?+IZD?O+$+DONMMMM ,         
   WELCOME.    :$O,,, ,    ,, ,         ,, ,,,  , ,:IZO7OO7N=$88MMNMMM,         
               ,=I???~,~::~:::,=7I+7+?~~+,, ,,,  ,,:~+IZ8OMMNI7ZD7MD$$,         
       \        ,IZ$OMMZ?=,?7ZO7ZMZI?+=+I=+:=,,    ,:I:$MDD88MIO?D~DDO          
        \____   ,,?ZMMMMM=:,,~+8DDMDM8N+:++?~::,,,,,:==,8ODMOZM?+MMMMI,         
                ,,=DD$,,$,   ,:+?I?Z?, ::?8 ,+:~~~:::?II7::I:O=IZ?MNM,          
               ,:?=77?7ZN,       ~ZZ7~==:   , , :~~=7O=D$?=7$:,,==M++,          
             ,::?7=+I7I$,  ,,       :,: ?      ,,~:~=$M8O7=7+MZZ,$N=,           
            ,I~ID?=:~~::   ,:,,:               ,:~::=+OD78OZ?~===MD:,           
          ,:+=ZMOZ~~~:~:  ,,   :,~,, ,        ,::~:=IZZOMM7$+=,77M,             
          =~:788M8~:::I?+=M8MMZ~~~O=,,,     ,, :~~=+87ZMN8=ZII::M,,             
        ,=,+$$ZOZ?~~=+?+MDD7 :=    $?~::, ,,,:,=~I?77,8++NOM8?=MM,              
       ,+,:?$7O88I==?:78Z$?Z7+I Z::,~I=~:,:+~~?$I7$IO?M88ZOM8DOM:,              
      ,~+=Z?=OODOI=I,+I7NII$$NDI?ZO+?,?=~+=?+7$OO7O?ND?IZMMO?NMM                
      ,:=$M+::?~~:MZ8MZ$$$=$+Z$8~OON7$Z?II?O7$I$Z887Z7O8$$+,ODN:,               
      ,~ +7?=O=~?NOODMMM+=~~~:~Z7Z$DIZ=+O$Z$I$Z7ZDII=ZOO:==?I+~,                
       ??7N:D~$+MZN78OO$+~++7+~=+?+$Z7$8I?O$O7Z8O$I8I8Z$7$~$+?~,                
       ,~ ~$DZMOMOMOIZ77+++?I=~~~:=II7O?7NDZZOOO$OO7ZOIZD$=?I~                  
         ,,:=~~~8OI7??===,:,,,: ::::~+I$OOMM8$ZZDZII$D$?N7IZ7,                  
            ,     ,+I7=~~~~~:,,,:, :=+?7Z$$ND$O+O8DDDZ=OIZ$7Z,                  
                    I7+7?++=~+?==:===+77$ODO8O8O8ZNNDI$I?7$MM                   
                      I77ZOOOZ7+?OOO7Z777$ZZ$ZZ$OOOO$OO7ZN,~M,                  
                      ,,MZOZZZ7I?+?~IZ?DZZ7$ZZ7$ZZ$ZZ7M  ,MMM,                  
                       MMMMMM$Z$7I?~+=~??I77$$7$$$$~    ,MMMM,,                 
                   MMMMMMMMMMMMMM IMMMZ$7??+I7+O      ,MMMMMMMI ,,              
                IMMMMMMMMMMMMMMMMMM7::,,,  O7        IMMMMMMMMNOZZ:,,           
             8O8MMMMMMMMMMMMMMMMMMMMM+:,,,       O8NNMMMMMMMMMN8OO$$O,,         
         ,8ZO8DDDNDMNNNNMMNMMMMMMMMMMMMMMMMMMMNM$NDMMMMMMM8NNOO::,+ZZ$$?,,      
     ,$7$$O8OOD88N8D8O88DZO7=:NNDOOO8Z8ZOOOZDMMOMZZO7O8ZZZZOZ8OMZ  +ZZZ$$7:,,   
:~+7$Z$ZZOOOOZOOZZ8ZOZO8MD= ,, DO8D888D8ZZO8OZZZ$Z$Z$7ZO8NMDDD888MMMZZZ$ZZ$$I?,,
  +OZZZZZZZZOZZ$ZOZZZ$ZZOZM NO ZOZO8DOZ$ZZODDOOZ$$ZOZOOOOZOOOZ- - - - - - - - -$
:  ?OZOZZZ7$7$$$$$$ZZ7ZZO$O8O8O8OD8O8O8888ZOZZ$$$$$$$Z$Z$ZOZZZ- WELCOMEMAT.CO-->

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>{{ site.name }}</title>

  <script type="text/javascript" src="//use.typekit.net/did4lgn.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <!--<link rel="stylesheet" href="assets/css/foundation.css">-->
  <link rel="stylesheet" href="/assets/css/animate.css">
  <link rel="stylesheet" href="/assets/css/app.css?v=5">
  <link rel="shortcut icon" href="/assets/favicon.ico?v=3"/>

  <!-- JS Files -->
  <script src="assets/js/vendor/custom.modernizr.js"></script>

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body>

{% include nav.html %}

{% include header.html %}

<div class="row wrapper" role="main">
  <div class="twelve columns">

  	{{ content }}

  </div>
</div>

{% include footer.html %}

{% include modals.html %}

<script src="assets/js/foundation/foundation.js"></script>
<script src="assets/js/foundation/foundation.reveal.js"></script>
<script src="assets/js/app.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41583222-1', 'welcomemat.co');
  ga('send', 'pageview');

</script>
</body>
</html>


